$color-white-1: #FFFFFF;
$color-gray-1: #E4E6EB;
$color-gray-2: #F0F0F6;
$color-gray-3: #767676;
$color-black-1: #242526;
$color-black-2: #3A3B3C;
$color-black-3: #18191A;
$color-black-4: #2B2B2B;
$color-yellow-1: #FFB400F2;
$color-yellow-2: #FFB400F2 95%;

